*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    color: rgba(38, 49, 110, 0.927);
    font-weight: 600;
    
}
h2{
    text-align: center;
    color: rgba(38, 49, 110, 0.927);
    
}
.main_box{
    background: url(pixel.jpg);
    height: 100vh; 
   background-size: cover;
}
.btn_one  {
    color: rgba(38, 49, 110, 0.927);
    font-size: 25px;
    font-weight:300;
    position: absolute;
    left: 15px;
    top: 50px;
    line-height: 50px;
    cursor: pointer;
    transition: all 1s linear;
}
.sidebar_menu{
    position:absolute;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color:rgba(255,255,255,0.1);
    box-shadow: 0 0 100px rgba(38, 49, 110, 0.927); 
    transition: all 1s linear;
    
}
.sidebar_menu .logo{
    position: absolute;
    top: 27px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(38, 49, 110, 0.927);
    border: 4px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 45px;
    color: rgba(38, 49, 110, 0.927); 
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color: rgba(38, 49, 110, 0.927);
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 33px;
    left: 270px;
    line-height: 50px;
    opacity: 1;
    cursor: pointer;
    transition: all 1s linear;
}
.sidebar_menu .menu{
    color: rgba(38, 49, 110, 0.927);
    position: absolute;
    width: 100%;
    top: 100px;
}
.sidebar_menu .menu li{
     margin-top: 20px;
     color:rgba(38, 49, 110, 0.927);
     padding: 14px 20px;
     font-size: larger;
     }
.sidebar_menu .menu i,a{
    color: rgba(38, 49, 110, 0.927);
    text-decoration: none;

}
.sidebar_menu .menu i{
    padding-right: 9px;
    color: rgba(0, 0, 1, 0.927);
    
}
.sidebar_menu  .social_media
{
position: absolute;
top: 600px;
left: 60px;
bottom: 50px;
color: rgba(38, 49, 110, 0.927);
    margin-bottom:2.5em;
}
.sidebar_menu  .social_media i
{
    padding: 5px;
    color: black;
    opacity: 0.7;
}
.sidebar_menu .menu li:hover{
    box-shadow:  1px 3px 5px rgb(17, 15, 15) ;
    color:black;
    transition: all 0.5s linear;

}
.sidebar_menu  .social_media i:hover{
    font-weight: 700;
    font-size: 20px;
    opacity: 1;
    transition: all 0.5s linear;
    color: rgba(38, 49, 110, 0.927);
}

.btn_one i:hover{
    color: black;
    font-size: 30px;
    transition: all 0.5s linear;
    
}
 .btn_two i:hover{

font-size: 30px;
transition: all 0.5s linear;
}
#check:checked ~ .sidebar_menu
{
   left: 0px; 
}
#check:checked ~.btn_one i{
    opacity:0 ;
}
#check:checked~.btn_two i{

    opacity: 1;
}
.sidebar_menu .logo a:hover{
    color: rgb(187, 104, 118);
    font-style:normal;
    transition: all 0.7s linear;
    font-size: 32px;


}
h1:hover{
    text-shadow: 4px 6px 6px rgb(206, 130, 143);
    transition: all 0.6s linear;
    font-size: 80px;
    transition: all 3s linear;
}

h2:hover{
    text-shadow: 4px 6px 6px rgb(215, 144, 156);
    transition: all 0.6s linear;
    font-size: 50px;
    transition: all 3s linear;
}


